@import "tailwindcss";

@theme {
    --font-poppins: "Poppins", sans-serif;
}

@theme {
    --font-merriweather: "Merriweather", sans-serif;
}


.btn {
    @apply bg-[#88C250] py-3 px-4 text-[14px] font-medium text-white relative overflow-hidden my-4 z-0
}


.btn::before {
    content: "";
    @apply absolute top-0 left-0 w-full h-full bg-[#006838] scale-x-0 origin-left transition-transform duration-500 ease-in-out z-[-1]
}

.btn:hover::before {
    @apply scale-x-100;
}

.btnh {
    @apply bg-white px-8 text-[15px] font-medium relative overflow-hidden z-10;
}

.btnh::before {
    content: "";
    @apply absolute top-0 left-0 w-full h-full bg-[#88C250] scale-x-0 origin-left transition-transform duration-500 ease-in-out z-[-1];
}

.btnh:hover::before {
    @apply scale-x-100;
}

.btnh:hover {
    @apply !text-white;
}

.btnf {
    @apply bg-[#88C250] px-5 min-[5786px]:px-7 md:px-6 xl:px-8 text-[15px] font-medium relative overflow-hidden z-10;
}

.btnf::before {
    content: "";
    @apply absolute top-0 left-0 w-full h-full bg-white scale-x-0 origin-left transition-transform duration-500 ease-in-out z-[-1];
}

.btnf:hover::before {
    @apply scale-x-100;
}

.btnf:hover {
    @apply !text-black;
}

/* btnf */

.navitem {
    @apply relative cursor-pointer transition-all duration-300 ease-in-out;
}

.navitem::before {
    content: "";
    @apply absolute left-0 bottom-0 h-[3px] w-0 bg-[#88C250] transition-all duration-300;
}

.navitem:hover .link {
    @apply text-[#88C250];
}

.navitem:hover::before {
    @apply w-full;
}

.link {
    @apply block py-[33px]
}

.submenu {
    @apply bg-white shadow-2xl px-4 w-[230px];
}

.submenu li {
    @apply relative overflow-hidden z-10 px-3 py-[11px] my-[7px] transition-colors duration-300;
}

.submenu li::before {
    content: "";
    @apply absolute top-0 left-0 w-full h-full bg-[#88C250] scale-x-0 origin-left transition-transform duration-500 ease-in-out z-[-1];
}

.submenu li:hover::before {
    @apply scale-x-100;
}

.submenu li:hover {
    @apply text-white;
}

.reslink {
    @apply block py-3 font-medium pl-1
}

.resnavitem {
    @apply flex justify-between
}

.swiper-button-prev,
.swiper-button-next {
    @apply text-[20px] text-white h-12 w-12 border-2 rounded-full p-3.5 opacity-0 pointer-events-none transition-all duration-500 hidden min-[768px]:flex;
}

/* Initial positions */
.swiper-button-prev {
    @apply -left-20;
}

.swiper-button-next {
    @apply -right-20;
}

/* Show on hover */
.heroslide:hover .swiper-button-prev,
.heroslide:hover .swiper-button-next {
    @apply opacity-100 pointer-events-auto;
}

/* Slide inward */
.heroslide:hover .swiper-button-prev {
    @apply left-5;
}

.heroslide:hover .swiper-button-next {
    @apply right-5;
}

.containercust {
    @apply w-[300px] min-[576px]:w-[450px] min-[768px]:w-[720px] min-[992px]:w-[940px] min-[1024px]:w-[95%] xl:w-[1296px] mx-auto;
}

.title {
    @apply text-[35px] font-[550] font-serif
}

section {
    @apply my-[50px] md:my-[100px]
}

#hero {
    @apply !mt-0
}


.subtitle {
    @apply text-gray-500 my-5 text-[14px] font-poppins leading-[25px] md:leading-6
}

.apptinput {
    @apply flex items-center border-1 border-gray-300 justify-between px-4 py-[13px] rounded-[2px];
}

input {
    @apply text-gray-500;
}

input:focus {
    @apply border-0 outline-0;
}

select:focus {
    @apply border-0 outline-0;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.animate-outlineSpread {
    position: relative;
    border-radius: 9999px;
}

.animate-outlineSpread::after {
    content: "";
    position: absolute;
    inset: 0;
    border: 2px solid #88C250;
    border-radius: 9999px;
    animation: pulseRing 1.5s linear infinite;
}

@keyframes pulseRing {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(1.4);
        /* goes outward ~15px */
        opacity: 0;
    }
}

.footer {
    @apply relative overflow-hidden bg-cover bg-center;
    background-image: url('/assets/images/footer.jpg');
}

.footer::before {
    content: "";
    @apply absolute inset-0;

    background: rgba(0, 104, 56, 0.88);
    /* background-color: #ffffff4b; */
    z-index: 1;
}

.footer>* {
    position: relative;
    z-index: 2;
}


.first a:hover {
    @apply underline
}

.icone {
    @apply bg-white w-7 h-7 flex items-center justify-center duration-500
}

.icone:hover {
    @apply rounded-2xl
}

.third a:hover {
    @apply underline
}

.third {
    font-weight: 400;
}

.mediicone {
    @apply border-gray-300 w-9 h-9 flex items-center justify-center border-1 rounded-[50%] mr-4
}

#our-archivment::before {
    content: '';
    background: rgba(0, 104, 56, 0.88);
}

#our-archivment {
    background:
        url("../../../public/assets/images/pattern2.png");
    /* @apply bg-[#006838] py-20 */
}

.text {
    position: relative;
    font-size: 60px;
    font-weight: bold;
}

.main {
    position: relative;
    color: #111827;
    z-index: 2;
}

.bg {
    position: absolute;
    top: -18px;
    color: rgba(0, 0, 0, 0.05);
    /* font-size: 80px; */
    z-index: 1;
    @apply text-[30px] min-[576px]:!text-[60px] min-[992px]:!text-[80px] !font-merriweather
}

#gallery {
    background-image:
        linear-gradient(rgba(224, 242, 250, 0.5)),
        url("../../../public/assets/images/galleryback.png");
    background-size: cover;
    background-position: center;
}

.gallerybtn {
    @apply border-1 border-gray-300 text-[13px] font-poppins px-5 py-1.5 hover:bg-[#006838] hover:text-white
}

.img-card {
    position: relative;
    overflow: hidden;
}

.img-card::before {
    content: '';
    position: absolute;
    background-color: rgba(0, 104, 55, 0.822);
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    transition: 0.6s ease;
}

.img-card:hover::before {
    right: 0
}

.gtext {
    @apply absolute top-0 left-8 font-poppins text-white py-10 hidden
}

.img-card:hover .gtext {
    @apply flex
}

.supscription-card {
    @apply border-1 border-gray-200 border-t-6 border-t-[#88C250] py-[50px] px-10 text-center hover:-translate-y-2 ease-in-out duration-400 hover:shadow-lg
}

.supscription-card h5 {
    @apply text-[18px] font-serif text-[#88C250] mb-3
}

.supscription-card h3 {
    @apply text-[35px] font-poppins font-medium
}

.supscription-card h6 {
    @apply text-[13px] font-serif
}

.scard-text li {
    @apply text-[14px] font-poppins py-4
}

.swiper-pagination-bullet {

    border-radius: 0 !important;
    height: 4.5px !important;
    width: 30px !important;
    background-color: white;
}

.swiper-pagination-bullet-active {
    background-color: #88C250;
}

.test-page .swiper-pagination-bullet{
    background-color: black;
}

.test-page .swiper-pagination-bullet-active {
    background-color: #88C250;
}

.social a {
    display: inline-block;
    margin-left: 18px;
}

@keyframes fadeInUpSoft {
    from {
        opacity: 0;
        transform: translate3d(0, 40px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.group:hover .social {
    animation: fadeInUpSoft 0.5s ease forwards;
}

.card-second {
    background-image:

        url("../../../public/assets/images/hw1.jpg");

    background-size: cover;
    background-position: center;
}

.siderbar-card {
    @apply border-t-3 border-[#006838] p-5 min-[576px]:p-10 shadow-md
}

.siderbar-card h3 {
    @apply text-[18px] font-merriweather font-[500]
}

.leftside-bar {
    @apply mb-[25px] pb-[25px] border-b-1 border-b-gray-200
}

#doctore-detail h4 {
    @apply text-[18px] font-merriweather mb-[10px]
}

#doctore-detail p {
    @apply font-poppins text-[14px] text-[#838181] leading-6.5 my-[25px]
}

.leftside-bar li {
    @apply font-poppins text-[14px] text-[#838181] mt-[12px]
}

.leftside-bar li a {
    @apply hover:text-[#006838]
}

.schedule li {
    @apply flex justify-between
}

.day {
    @apply flex gap-2
}

.detaildoctore li {
    @apply font-poppins text-[14px] flex items-center mb-[10px] text-[#838181]
}

.detaildoctore li span {
    @apply text-[#006838] block min-w-[110px]
}

.dsocial a {
    @apply hover:text-[#006838]
}

.doctore-education li {
    @apply font-poppins text-[14px] flex items-center mb-[11px] text-[#838181]
}

.doctore-education li span {
    @apply text-[#006838] mr-4
}

.contact-form input,.contact-form textarea
 {
    @apply border-1 border-gray-200 w-full p-3 text-gray-700
}

.contact-info {
    @apply flex items-start gap-x-4
}

.contact-info {
    @apply mt-[35px]
}

.info-icone{
    @apply text-[25px] border-1 border-gray-200  text-[#006838] p-3 hover:bg-[#006838] hover:text-white
}


.text-info h3{
    @apply text-[16px] mb-[8px]
}

.text-info p{
    @apply text-[15px] text-[#838181]
}

#cilent-logo-section img{
    @apply opacity-50 hover:opacity-[100%]
}

.appoinmentform input,.appoinmentform textarea{
    @apply text-gray-700 w-[85%]

}

.appoinmentform textarea{
    @apply focus:outline-0

}

.formrow {
    @apply flex border-1 border-gray-200 w-full p-3 text-gray-400 justify-between items-center
}


table th {
    @apply py-3 px-16 text-white font-poppins font-normal text-[14px] text-center
}

table tr{
    @apply border-b-1 border-b-gray-200
}

table tr td{
    @apply text-center py-[35px] border-r-1 border-r-gray-200
}

table tr td h4{
    @apply text-[16px] font-merriweather font-[600]
}

table tr td span{
    @apply text-[14px] font-merriweather text-[#838181] font-poppins font-[400]
}

.form-social a{
    @apply flex items-center text-[13px] font-poppins font-medium gap-3 py-[15px] px-[14px] border-1 border-gray-200 justify-center
}

/* .form-group{
    @apply px-[20px] py-[8px] border-1 border-gray-200
} */

#registration-form form input {
    @apply w-full px-[20px] py-[12px] border-1 border-gray-200 mb-[15px]
}

.checkbox-input:checked{
    accent-color: #88C250;
    color: white;
}

.alt-option{
    position: relative;
}

.alt-option::before{
    position: absolute;
    left: 0;
    top: 50%;
    height: 1px;
    width: 100%;
    background: #eee;
    content: "";
    z-index: -1;
}

.css-1808mag-MuiPaper-root-MuiAccordion-root{
    box-shadow:none !important;
    border: solid 1px #e9e6e6;
    outline: 0;
}


/* #top {
    height: 366px;
    width:100%  
} */
/* p {
    color: #888888
} */
/* relative overflow-hidden z-10
                            bg-[#88C250]
                            py-4 px-8
                            text-[14px]
                            font-medium
                            text-white

                            before:content-['']
                            before:absolute
                            before:top-0
                            before:left-0
                            before:w-full
                            before:h-full
                            before:bg-[#006838]
                            before:scale-x-0
                            before:origin-left
                            before:transition-transform
                            before:duration-500
                            before:ease-in-out
                            before:z-[-1]

                            hover:before:scale-x-100" */